.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.loading-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999;
}

.spinner-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.15rem;
}

.spinner-md {
  width: 2rem;
  height: 2rem;
  border-width: 0.2rem;
}

.spinner-lg {
  width: 3rem;
  height: 3rem;
  border-width: 0.25rem;
}

